<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175918397928-tiii4mi9jjmr5ntan06fl770mdve3880.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175918397928-tiii4mi9jjmr5ntan06fl770mdve3880</string>
	<key>API_KEY</key>
	<string>AIzaSyC9iDvpbTL5H1iHl6NoGbB91MGD8klXYQM</string>
	<key>GCM_SENDER_ID</key>
	<string>175918397928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.screenia.dev</string>
	<key>PROJECT_ID</key>
	<string>screenia</string>
	<key>STORAGE_BUCKET</key>
	<string>screenia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175918397928:ios:5c8c08fd8b055212bc4c5d</string>
</dict>
</plist>